# Ignore Python virtual environments
venv/
.venv/
env/
.env/
ENV/

# Ignore Python cache files and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all site-packages directories
**/site-packages/
